$node-border-color: #c72c419f;
$node-shortest-path-color: #cc7a4ace;
$node-wall-color: #353746;

$btn-gradient-primary-color: #c72c41a8;
$btn-gradient-secondary-color: #cc7a4ae3;

:export {
  node-border-color: $node-border-color;
  node-shortest-path-color: $node-shortest-path-color;
  node-wall-color: $node-wall-color;

  btn-gradient-primary-color: $btn-gradient-primary-color;
  btn-gradient-secondary-color: $btn-gradient-secondary-color;
}
