$node-border-color: #d15464bd;
$node-shortest-path-color: #cc894a8c;
$node-shortest-path-border-color: #f07731e3;
$node-wall-color: #424557;

$btn-gradient-primary-color: #cf4759a8;
$btn-gradient-secondary-color: #cc7a4ae3;
$btn-gradient-secondary-color: #df9062e3;
$grid-background-color: #1f2029;

$node-visited-background-color-0: #3d1c3c9f;
$node-visited-background-color-50: #9c264b9f;
$node-visited-background-color-75: #d8445873;
$node-visited-background-color-100: #d6596952;

:export {
  node-border-color: $node-border-color;
  node-shortest-path-color: $node-shortest-path-color;
  node-wall-color: $node-wall-color;
  node-shortest-path-border-color: $node-shortest-path-border-color;
  btn-gradient-primary-color: $btn-gradient-primary-color;
  btn-gradient-secondary-color: $btn-gradient-secondary-color;
  grid-background-color: $grid-background-color;

  node-visited-background-color-0: $node-visited-background-color-0;
  node-visited-background-color-50: $node-visited-background-color-50;
  node-visited-background-color-75: $node-visited-background-color-75;
  node-visited-background-color-100: $node-visited-background-color-100;
}
