@import "../../styles/_variables";

.App-header {
  color: white;
}

.logo-div {
  position: fixed;
  top: 1em;
  left: 0.5em;
  opacity: 0.9;

  .logo-name {
    margin: 0px;
  }

  .logo-img {
    width: 55px;
    height: 55px;
  }
}

.floating-buttons {
  position: fixed !important;
  right: 2%;
  top: 30%;
  cursor: pointer;
}

.label-button {
  margin: 20px;
}

.btn-visualization {
  font-size: 2em;
  margin: 10px;
  color: #fff !important;
  background-color: #5cc552e3 !important;
  border-color: #5cc552e3 !important;
  background-image: linear-gradient(138deg, #3e7456e3, #5cc552e3);
  border-radius: 15px;
  outline: none !important;
}

.btn-visualization:hover {
  background-color: rgba(255, 255, 255, 0.541) !important;
  border-color: rgba(255, 255, 255, 0.466) !important;
}

.btn-clear {
  font-size: 2.4em;
  margin: 10px;
  border-radius: 15px;
  background-image: linear-gradient(138deg, #b1a4a2e3, #5c5554e3);
  border-color: rgb(48, 47, 47) !important;
  outline: none !important;
}

.btn-clear:hover {
  border-color: rgba(255, 255, 255, 0.466) !important;
}
