:export {
  node-border-color: #d15464bd;
  node-shortest-path-color: #cc894a8c;
  node-wall-color: #424557;
  node-shortest-path-border-color: #f07731e3;
  btn-gradient-primary-color: #cf4759a8;
  btn-gradient-secondary-color: #df9062e3;
  grid-background-color: #1f2029;
  node-visited-background-color-0: #3d1c3c9f;
  node-visited-background-color-50: #9c264b9f;
  node-visited-background-color-75: #d8445873;
  node-visited-background-color-100: #d6596952;
}

.node {
  width: 1.6em;
  height: 1.6em;
  margin: 3px;
  display: inline-block;
  border: 2px solid #d15464bd;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.node-finish {
  background-image: url("/finish.svg");
  background-repeat: no-repeat;
  background-size: 1.5em;
  border: 0px;
  -webkit-animation-name: startFinishAnimation;
          animation-name: startFinishAnimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.node-start {
  background-image: url("/start.svg");
  background-repeat: no-repeat;
  background-size: 1.5em;
  border: 0px;
  -webkit-animation-name: startFinishAnimation;
          animation-name: startFinishAnimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes startFinishAnimation {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes startFinishAnimation {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.node-wall {
  -webkit-animation-name: wallAnimation;
          animation-name: wallAnimation;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  background-color: #424557;
  border: 2px solid #546E7A;
  border-radius: 4px;
}

@-webkit-keyframes wallAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes wallAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.node-visited {
  -webkit-animation-name: visitedAnimation;
          animation-name: visitedAnimation;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes visitedAnimation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background-color: #3d1c3c9f;
    border-radius: 80%;
  }
  50% {
    border-radius: 60%;
    background-color: #9c264b9f;
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border-radius: 30%;
    background-color: #d8445873;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #d6596952;
  }
}

@keyframes visitedAnimation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background-color: #3d1c3c9f;
    border-radius: 80%;
  }
  50% {
    border-radius: 60%;
    background-color: #9c264b9f;
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border-radius: 30%;
    background-color: #d8445873;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #d6596952;
  }
}

.node-shortest-path {
  -webkit-animation-name: shortestPath;
          animation-name: shortestPath;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  background-color: #cc894a8c;
  border: 2px solid #f07731e3;
  border-radius: 4px;
}

@-webkit-keyframes shortestPath {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shortestPath {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=Node.css.map */