.node {
  width: 30px;
  height: 30px;
  outline: 1.1px solid  #c72c419f;
  display: inline-block;
  
}

.node-finish {
  background-image: url('/finish.svg');
  background-repeat: no-repeat;
  background-size: 29px
}

.node-start {
 
  background-image: url('/start.svg');
  background-repeat: no-repeat;
  background-size: 29px;
}

.node-wall{
  animation-name: wallAnimation;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    background-color:#212121;
  }

  50% {
    transform: scale(1.2);
    background-color: #212121;
  }

  100% {
    transform: scale(1.0);
    background-color:#212121;
  }
}



.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #2d132c9f;
    border-radius: 100%;
    outline: 0px solid  #2d132c9f;
  }

  50% {
    background-color: #8013369f;
    outline: 0px solid  #8013369f;
  }

  75% {
    transform: scale(1.2);
    background-color: #c72c419f;
    outline: 0px solid  #c72c419f;
  }

  100% {
    transform: scale(1);
    background-color: #ee46409f;
    outline: 1.1px solid  #ee46409f;
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #af174c;
  }

  50% {
    transform: scale(1.2);
    background-color: #af174c;
  }

  100% {
    transform: scale(1);
    background-color: #af174c;
  }
}
