@import '../styles/_variables';

.grid {
  background-color:  $grid-background-color;
  height: 95%;
  margin: 0 auto 2em auto;
  outline: none;
  display: flex;
  flex-direction: column;
}

.div_node {
  margin: -4px 0;
}