.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}


.mobile-not-available {
  color: white;
  text-align: center;
  margin: 5em 1em ;
}
