body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #1f2029 !important;
  
}

code {
  font-family: 'Oswald', sans-serif;
}
